.post-page-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
    margin-left: 235px;
}

.post-page-image {
    grid-column: 1;
    height: 100vh;
    width: 40vw;
    padding: 0px;
    left: 0;
}

.edit-caption-button {
    position: absolute;
    right: 150px;
    background: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #264361;
    font-size: 16px;
    transition: 0.5s;
}

.delete-post-button {
    position: absolute;
    right: 35px;
    background: none;
    font-size: 14px;
    font-weight: bold;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #264361;
    font-size: 16px;
    transition: 0.5s;
}

.edit-caption-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: inset;
}

.delete-post-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: inset;
}

.post-page-content {
    grid-column: 2;
    height: 100vh;
    width: 40vw;
}

.post-page-owner-info{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid gray;
    padding-left: 10px;
}

.post-page-caption-area {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 6px;
}

.post-page-caption {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 300;
}

.post-page-owner-username {
    font-size: 20px;
    font-weight: 900;
    padding-left: 8px;
    color: white;
    text-decoration: none;
}

.post-page-user-image {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}


.like-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    width: fit-content;
  }

  .like-button-empty {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    width: fit-content;
  }

.like-button svg {
    font-size: 26px;
    color: red;
    width: fit-content;
}

.like-button-empty svg {
    font-size: 26px;
    color: white;
    width: fit-content;
}

.post-page-likes-modal-button {
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.edit-post-cancel-button-container {
    text-align: center;
    padding-top: 18px;
}

.edit-post-cancel-button {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    width: 146px;
    height: 42px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #264361;
    font-size: 16px;
    transition: 0.5s;
}

.edit-post-cancel-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: inset;
}

.post-page-interaction-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75vh 17vh;
}

.post-page-comments-feed-container {
    grid-row: 1;
    overflow: auto;
}

.post-page-interaction-area-container {
    grid-row: 2;
    border-top: 0.1px solid gray;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
