.leave-conversation {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #4193EF;
}

.leave-conversation:hover {
    cursor: pointer;
   color: #3975EA;
}

.message-feed-interaction-container {
    display: flex;
    bottom: 8vh;
    position: absolute;
 }

 .leave-conversation {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #264361;
    font-size: 18px;
    transition: 0.5s;
    padding: 6px 12px 6px 12px;
}

.leave-conversation:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: inset;
}

.message-feed-interaction-container {
    display: flex;
    bottom: 8vh;
    position: absolute;
    border-top: 0.01px solid white;
    width: 42vw;
    height: 36px;
    align-items: center;
    /* justify-content: space-between; */
    padding-top: 5px;
}

.message-body-input {
    /* margin-top: 2.7vh; */
    margin-left: 1.2vw;
    width: 25vw;
    background-color: #113254;
    color: white;
    border: none
}

.send-message-submit {
    width: 22px;
    height: 22px;
    /* margin-top: 3vh; */
    margin-left: 1vw;
    margin-right: 3.5vw;
}

.send-message-submit:hover {
    cursor: pointer;
}
