body {
  /* Same as the width of the sidebar */
  /* margin-left: 245px; */
  /* padding: 0px 10px; */
  background-color: #000000;
  color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1073%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c481.176C102.314%2c490.864%2c209.655%2c515.096%2c301.854%2c469.694C397.792%2c422.451%2c470.913%2c332.203%2c506.971%2c231.526C541.73%2c134.477%2c496.036%2c31.829%2c495.597%2c-71.256C495.067%2c-195.665%2c560.628%2c-325.988%2c504.126%2c-436.828C444.95%2c-552.913%2c323.791%2c-646.671%2c194.409%2c-662.098C67.509%2c-677.229%2c-35.791%2c-569.844%2c-151.208%2c-514.968C-246.577%2c-469.624%2c-347.982%2c-440.607%2c-424.501%2c-367.832C-506.468%2c-289.876%2c-577.354%2c-196.978%2c-601.709%2c-86.513C-627.019%2c28.287%2c-627.361%2c158.901%2c-562.205%2c256.75C-499.009%2c351.655%2c-373.118%2c373.534%2c-267.223%2c415.806C-180.297%2c450.506%2c-93.179%2c472.353%2c0%2c481.176' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1053.906C1535.436 1036.495 1626.54 1023.95 1718.705 993.674 1841.432 953.358 1992.681 951.469 2069.032 847.269 2146.447 741.6179999999999 2126.7619999999997 593.576 2106.714 464.141 2086.822 335.716 2036.952 214.587 1955.3690000000001 113.43 1871.789 9.797000000000025 1769.733-93.39700000000005 1638.5819999999999-116.30799999999999 1510.859-138.62 1387.842-67.52300000000002 1273.921-5.613000000000056 1177.992 46.519000000000005 1111.281 130.791 1036.873 210.688 959.4200000000001 293.855 861.088 363.13 828.986 472.149 794.792 588.274 809.899 714.8 855.402 826.977 902.08 942.0509999999999 971.4970000000001 1063.933 1087.262 1108.871 1200.489 1152.8229999999999 1320.514 1075.705 1440 1053.906' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1073'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size:cover;

}

.fade-in {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body,html {
  margin:0;
  padding:0;
}

.github-logo {
  width: 45px;
  height: 45px;
  top: 2px;
  left: 52px;
  position: fixed;
  border-radius: 5px;
}

.linkedin-logo {
  width: 45px;
  height: 45px;
  top: 2px;
  left: 105px;
  position: fixed;
  border-radius: 5px;
}

.angellist-logo {
  width: 45px;
  height: 45px;
  top: 2px;
  left: 158px;
  position: fixed;
  border-radius: 5px;
}
