body {
  /* Same as the width of the sidebar */
  /* margin-left: 245px; */
  /* padding: 0px 10px; */
  background-color: #000000;
  color: white;
}


body,html {
  margin:0;
  padding:0;
}

.github-logo {
  width: 45px;
  height: 45px;
  top: 0px;
  left: 7.5vw;
  position: fixed;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
