.dm-nav-username-container {
    text-align: center;
    border-bottom: 0.1px solid white;
    display: flex;
    justify-content: center;
}

.componse-message-icon {
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-left: 10px;
}

.dm-nav-username {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

.dm-nav-chat-button-div {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 0.01px solid white;
    overflow: hidden;
    transition: 2s;
}

.dm-nav-chat-button-div:hover {
    background-color: #264361;
    transition: 0.5s;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: white;
}
