input::file-selector-button {
    background: none;
    color: #4193EF;
    border: none;
}

input::file-selector-button:hover {
    cursor: pointer;
    color: #3975EA;
}

/* margin-left: 255px; */

.create-a-post-form-container {
    margin-left: 12vw;
    margin-top: 8vh;
}
