.leave-conversation {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #4193EF;
}

.leave-conversation:hover {
    cursor: pointer;
   color: #3975EA;
}

.message-feed-interaction-container {
    display: flex;
    bottom: 8vh;
    position: absolute;
    /* border-top: 1px solid gray; */
    /* width: 42vw;
    justify-content: flex-end;
    margin-right: 20px; */
 }

 .leave-conversation {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #4193EF;
}

.leave-conversation:hover {
  cursor: pointer;
   color: #3975EA;
}

.message-feed-interaction-container {
    display: flex;
    bottom: 8vh;
    position: absolute;
    border-top: 0.01px solid gray;
    width: 42vw;
    justify-content: flex-end;
}
