.message-page-container {
    margin-left: 40px;
    background-color: #262626;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-page-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-page-content-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1;
    width: 60vw;
    height: 85vh;
    background-color: black;
    margin-left: 10vw;
}

.dm-nav-container {
    grid-column: 1;
    height: 85vh;
    width: 18vw;
    border-right: 0.1px solid gray;
    /* padding: 0px; */
    /* left: 0; */
}

.dm-page-messages-feed-container {
    grid-column: 2;
}
