.dm-user-selection-header-container {
    border-bottom: 0.01px solid white;
    margin-bottom: 20px;
}


.dm-user-selection-header {
    font-size: 22px;
    text-align: center;
}

.user-selection-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    height: 100%;
}

.user-selection-input-box {
    width: 20px;
    margin-right: 30px;
}

.user-selection-image {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 20px;
}

.user-selection-username {
    font-size: 18px;
    font-weight: bold;
}

.user-selection-error {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-selection-submit-button-container {
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}

.user-selection-submit-button {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #264361;
    font-size: 16px;
    transition: 0.5s;
}

.user-selection-submit-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: inset;
}
