.nav-bar {
    height: 100%;
    width: 255px;
    color: white;
    z-index: 1;
    background-color: #113254;
    position: fixed;
    top: 0;
    left: 0;
    /* border-right: .01px solid #363636; */
}

.navbar-sureel-span {
    padding-top: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 35px;
}

.navbar-buttons-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 52px;
}

.nav-bar-home-container {
    display: flex;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* justify-content: center; */
    border-radius: 30px;
    transition: 0.5s;
}

.nav-bar-home-container:hover {
 background-color: #264361;
 transition: 0.5s;
}

.nav-home-icon {
    height: 28px;
    width: 28px;
    padding-top: 5px;
}

.nav-bar-create-container {
    margin-top: 12px;
}

.nav-create-icon {
    height: 28px;
    width: 28px;
    padding-top: 8px;
}

.nav-messages-icon {
    height: 22px;
    width: 22px;
    padding-top: 8px;
}

.nav-link-messages-span {
    color: white;
    font-size: 22px;
    margin-top: 4px;
    margin-left: 12px;
    font-weight: 500;
}

.nav-link-home {
    color: white;
    text-decoration: none;
}

.nav-link-home-area {
    color: white;
    text-decoration: none;
    display: flex;
    /* width: 130px; */
    font-size: 22px;
    margin-top: 4px;
}

.nav-link-home-span {
    color: white;
    font-size: 22px;
    margin-top: 8px;
    margin-left: 12px;
    font-weight: 500;
}

.nav-bar-logout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 100px;
    padding-left: 98px
}

.nav-user-icon {
    width: 28px;
    height: 28px;
    padding-top: 4px;
}

.nav-link-users-span {
    color: white;
    font-size: 22px;
    margin-top: 6px;
    margin-left: 12px;
    font-weight: 500;
}

.nav-bar-user-image {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
